<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.talesandtruths">
    <!-- 🔥 Internet required for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TalesandTruths"
        tools:targetApi="31">
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <!-- 📖 Story Detail Screen -->
        <activity
            android:name=".StoryDetailActivity"
            android:exported="false" /> <!-- 🧒 Kids Stories List Screen -->
        <activity
            android:name=".KidsStoriesActivity"
            android:exported="false" /> <!-- 🏠 Home / Launcher Activity -->
        <activity android:name=".AdminPanelActivity" />
        <activity android:name=".AddStoryActivity" />
        <activity android:name=".StoryListActivity" />

        <activity android:name=".MoralStoriesActivity" />

        <activity android:name=".StoryReaderActivity" />
        <activity android:name=".ChildProfileActivity" />

        <activity android:name=".ReadingHistoryActivity" />
        <activity android:name=".ReadingStatsActivity" />
        <activity android:name=".BadgesActivity" />
        <activity android:name=".ReadingGoalActivity" />
        <activity android:name=".WeeklyGraphActivity" />
        <activity android:name=".KidsInfotainmentActivity" />
        <activity android:name=".GamesForKidsActivity" />
        <activity android:name=".StaticGKActivity" />
        <activity android:name=".CurrentGKActivity" />
        <activity android:name=".GKSubCategoryActivity" />
        <activity android:name=".AlphabetSelectionActivity" />
        <activity android:name=".AlphabetTraceActivity" />
        <activity android:name=".OurWorldActivity" />
        <activity android:name=".ContinentsActivity" />
        <activity android:name=".ContinentDetailActivity" />

        <activity android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>