<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kidverse.app">
    <!-- 🔥 Internet required for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <application
        android:name=".KidverseApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TalesandTruths"
        tools:targetApi="31">
        <activity
            android:name="com.kidverse.app.ProfileActivity"
            android:exported="false" />
        <!-- 📖 Story Detail Screen -->
        <activity
            android:name="com.kidverse.app.StoryDetailActivity"
            android:exported="false" /> <!-- 🧒 Kids Stories List Screen -->
        <activity
            android:name="com.kidverse.app.KidsStoriesActivity"
            android:exported="false" /> <!-- 🏠 Home / Launcher Activity -->
        <activity android:name="com.kidverse.app.AdminPanelActivity" />
        <activity android:name="com.kidverse.app.AddStoryActivity" />
        <activity android:name="com.kidverse.app.StoryListActivity" />

        <activity android:name="com.kidverse.app.MoralStoriesActivity" />

        <activity android:name="com.kidverse.app.StoryReaderActivity" />
        <activity android:name="com.kidverse.app.ChildProfileActivity" />

        <activity android:name="com.kidverse.app.ReadingHistoryActivity" />
        <activity android:name="com.kidverse.app.ReadingStatsActivity" />
        <activity android:name="com.kidverse.app.BadgesActivity" />
        <activity android:name="com.kidverse.app.ReadingGoalActivity" />
        <activity android:name="com.kidverse.app.WeeklyGraphActivity" />
        <activity android:name="com.kidverse.app.KidsInfotainmentActivity" />
        <activity android:name="com.kidverse.app.GamesForKidsActivity" />
        <activity android:name="com.kidverse.app.StaticGKActivity" />
        <activity android:name="com.kidverse.app.CurrentGKActivity" />
        <activity android:name="com.kidverse.app.DailyNewspaperActivity" />
        <activity android:name="com.kidverse.app.MonthlyMagazineActivity" />
        <activity android:name="com.kidverse.app.GKSubCategoryActivity" />
        <activity android:name="com.kidverse.app.AlphabetSelectionActivity" />
        <activity android:name="com.kidverse.app.AlphabetTraceActivity" />
        <activity android:name="com.kidverse.app.OurWorldActivity" />
        <activity android:name="com.kidverse.app.ContinentsActivity" />
        <activity android:name="com.kidverse.app.ContinentDetailActivity" />
        <activity android:name="com.kidverse.app.BedtimeStoriesActivity" />
        <activity android:name="com.kidverse.app.OceanActivity" />
        <activity android:name="com.kidverse.app.OceanDetailActivity" />
        <activity android:name="com.kidverse.app.LandFormsActivity"/>
        <activity android:name="com.kidverse.app.LandFormsDetailActivity"/>
        <activity android:name="com.kidverse.app.PdfReaderActivity"/>
        <activity android:name="com.kidverse.app.PreviousIssuesActivity"/>

        <activity android:name="com.kidverse.app.HomeActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
